.twitter-typeahead
	width 100%
.empty-message
	padding-top 10px
	padding-bottom 10px
	padding-left 15px
	padding-right 15px
	font-weight 400
	font-size 14px
	color: white
	// font-size: 4vmin;

.tt
	&-menu
		right -15px!important
		left: -15px!important;
		background rgba(0,0,0,.5)
		z-index 99
	&-suggestion
		padding-top 10px
		padding-bottom 10px
		padding-left 15px
		padding-right 15px
		strong
			font-weight 400
			font-size 14px
			// font-size: 4vmin;
			text-transform: capitalize

.typehead
	text-transform: capitalize
